# Node modules dependencies
node_modules/
**/node_modules/

# Compilation build outputs
dist/
**/dist/
build/
**/build/

# System logs and caches
*.log
.eslintcache
.vite/
.parcel-cache/
.cache/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
